# Node modules
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log

# Android
android/.gradle/
android/app/build/
android/build/
*.keystore

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Fastlane (if used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# React Native / Metro bundler
.expo/
.expo-shared/
*.expo
*.expo.*
*.bundle
*.map
*.tmp
*.swp

# Environment files
.env
.env.*