.ep-container {
  background: #181737;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  margin-left: 240px;
}
.ep-box {
  background: #322b49;
  border-radius: 16px;
  padding: 32px;
  min-width: 600px;
  margin-bottom: 32px;
}
.ep-filter-row {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.ep-input, .ep-select {
  background: #241f39;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 5px;
  width: 200px;
}
.ep-table {
  width: 100%;
  background: transparent;
  color: white;
  border-collapse: collapse;
  margin-bottom: 30px;
}
.ep-table th, .ep-table td {
  padding: 8px;
  border-bottom: 1px solid #231d36;
}
.ep-remove-btn {
  background:  #B52956;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: pointer;
  transition: background 0.2s;
}
.ep-remove-btn:hover {
  background: #a02a50;
}
.ep-btn-row {
  display: flex;
  justify-content: flex-end;
}
.ep-csv-btn, .ep-save-btn {
  background: #c73c6c;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 8px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}
.ep-csv-btn:hover, .ep-save-btn:hover {
  background: #a02a50;
}
@media (max-width: 900px) {
  .ep-box {
    min-width: 100vw;
    border-radius: 0;
    padding: 18px 2vw;
  }
  .ep-container {
    margin-left: 0;
    padding-top: 20px;
  }
}
@media (max-width: 600px) {
  .ep-box {
    min-width: 100vw;
    border-radius: 0;
    padding: 8px 1vw;
  }
  .ep-btn-row {
    flex-direction: column;
    gap: 10px;
  }
}
