.tiptap-editor {
  background: #2c1e3c;
  min-height: 150px;
  line-height: 1.5;
  color:'white';
  border-color: #c13584;
}

.tiptap-editor:focus {
  outline: none;
  border-color: #c13584;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.tiptap-editor .ProseMirror{
    color:white;
    border-color: #c13584;
}